### **INTRODUCTION TO PYTHON FOR MACHINE LEARNING TAG-ALONG CODE**

## Importing of libraries

In [122]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib as plt

## Reading the dataset

In [123]:
Food_data=pd.read_csv('./FoodBalanceSheet.csv', encoding='latin-1 ')
Food_data.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

### **Question 1:** Which of the following dataframe methods can be used to access elements across rows and columns?
### 
**Answer: df.iloc[ : ] Option 4 1**

In [124]:
Food_data.iloc[:]

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

### **Question 2** Which year had the least correlation with ‘Element Code’?

 **Answer: 2016, option 2**

In [125]:
Food_data['Element Code']

0         511
1        5301
2         664
3         674
4         684
         ...
60938    5142
60939     645
60940     664
60941     674
60942     684
Name: Element Code, Length: 60943, dtype: int64

In [126]:
Food_data.corr()['Element Code']

ValueError: could not convert string to float: 'Algeria'

### **Question 3:** if you have the following list

lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]

col = [‘Age’,’Nationality’,’Overall’]

How do you create a pandas DataFrame using this list?

 **Answer: pd.DataFrame(lst, columns = col, index** = [i for i in range(1,4)])

 **pd.Dataframe(lst, columns = col, index = [1,2,3])** 
 
 **pd.Dateframe(lst, column = [‘Age’,’Nationality’,’Overall’], index = [1,2,3]), option 2,4,5**

In [ ]:
lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]

col = ['Age', 'Nationality', 'Overall']
pd.DataFrame(lst, columns=col, index=[1,2,3])

In [127]:
pd.DataFrame(lst, columns=['Age', 'Naionality', 'Overall'], index=[1,2,3])

   Age Naionality  Overall
1   35   Portugal       94
2   33  Argentina       93
3   30     Brazil       92

In [128]:
pd.DataFrame(lst, columns=col, index=[i for i in range(1,4)])

   Age Nationality  Overall
1   35    Portugal       94
2   33   Argentina       93
3   30      Brazil       92

### **Question 4:** Given the following numpy array 

array  = ([[94, 89, 63],

             [93, 92, 48],

             [92, 94, 56]])

How would you select  the elements in bold and italics from the array?

 **Answer: array[ : 2, 1 : ] , option 3**

In [129]:
array = np.array([[94, 89, 63],
                  [93, 92, 48],
                  [92, 94, 56]])
array[:2,1:]

array([[89, 63],
       [92, 48]])

### **Question 5:** Given the following python code, what would the output of the code give?

my_tuppy = (1,2,5,8)

my_tuppy[2] =  6

**Answer: Type Error, option 3**

In [130]:
my_tuple=(1,2,5,8)
my_tuple[2]=6

TypeError: 'tuple' object does not support item assignment

### **Question 6:** What is the total Protein supply quantity in Madagascar in 2015?

 **Answer: 173.05, option 3**

In [131]:
Food_data[Food_data.Area == 'Madagascar'].groupby('Element')['Y2015'].sum()

Element
Domestic supply quantity                  31214.98
Export Quantity                             494.75
Fat supply quantity (g/capita/day)           91.85
Feed                                       2070.22
Food                                      21120.65
Food supply (kcal/capita/day)              7685.00
Food supply quantity (kg/capita/yr)         871.59
Import Quantity                            1721.80
Losses                                     2176.00
Other uses (non-food)                      3957.12
Processing                                 1803.00
Production                                29482.89
Protein supply quantity (g/capita/day)      173.05
Residuals                                  -616.00
Seed                                        699.00
Stock Variation                            -505.00
Total Population - Both sexes             24234.00
Name: Y2015, dtype: float64

### **QUESTION 7:** Consider the following list of tuples:

y = [(2, 4), (7, 8), (1, 5, 9)]

How would you assign element 8 from the list to a variable  x?

**Answer: x = y[1][-1] and x = y[1][1], o1tion 4 and 3**

In [132]:
y=[(2,4),(7,8),(1,5,9)]
y[1][1]
y[1][-1]

8

### **Question 8:** What is the total number and percentage of missing data in 2014 to 3 decimal places?

**Answer: 1589 and 2.607%, option 1**

In [133]:
Food_data.isnull().sum().loc['Y2014'] / Food_data.shape[0] * 100

2.6073544131401474

In [134]:
Food_data.isnull().sum().loc['Y2014']

1589

### **Question 9:** Which of these python data structures is unorderly?
 
**Answer: set, optio4 3**

### **Question 10:** What would be the output for?

S = [['him', 'sell'], [90, 28, 43]]

S[0][1][1]

 **Answer: e , option 1**

In [135]:
 S= [['him', 'sell'], [90, 28, 43]]

S[0][1][1]

'e'

### **Question 11:** What is the total number of unique countries in the dataset?

 **Answer: 49, option 4**

In [136]:
len(Food_data.Area.unique())

49

### **Question 12:** Perform a groupby operation on ‘Element’.  What year has the highest sum of Stock Variation?

 **Answer: 2014, option 4**

In [137]:
Food_data.groupby('Element')['Y2014','Y2015','Y2016','Y2017','Y2018'].sum()

ValueError: Cannot subset columns with a tuple with more than one element. Use a list instead.

### **Question 13:** A pandas dataframe with dimensions (100,3) has how many features and observations?

 **Answer:The dataframe has 3 features and 100 observations, option 2**

### **Question 14:** Perform a groupby operation on ‘Element’.  What is the total number of the sum of Processing in 2017?

**Answer: 292836.00, option 3**

In [138]:
Food_data.groupby('Element')['Y2017'].sum()

Element
Domestic supply quantity                  2088198.10
Export Quantity                            182338.80
Fat supply quantity (g/capita/day)          10253.84
Feed                                       223705.68
Food                                      1258888.28
Food supply (kcal/capita/day)              454681.00
Food supply quantity (kg/capita/yr)         48690.04
Import Quantity                            294559.09
Losses                                     160614.00
Other uses (non-food)                       91645.97
Processing                                 292836.00
Production                                2030056.89
Protein supply quantity (g/capita/day)      11842.45
Residuals                                   35500.00
Seed                                        24870.14
Stock Variation                             54316.91
Total Population - Both sexes             1112641.00
Tourist consumption                            91.00
Name: Y2017, dtype: float64

### **Question 15:** Which of the following is a python inbuilt module?

**Answer: Math, option 4**

### **Question 16:** How would you check for the number of rows and columns in a pandas DataFrame named df?

 **Answer: df.shape, option 1**

### **Question 17:**
What is the mean and standard deviation across the whole dataset for the year 2017 to two decimal places?

**Answer: 140.92 and 1671.86, option 4**

In [139]:
Food_data.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

### **Question 18** Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the highest sum in 2017?

**Answer: Nigeria, option 2**

In [140]:
Food_data.groupby('Area')['Y2017'].sum().sort_values(ascending=False)[:7]

Area
Nigeria         1483268.23
Egypt            866379.92
South Africa     517590.54
Ethiopia         448683.76
Morocco          388495.36
Ghana            337599.06
Algeria          325644.27
Name: Y2017, dtype: float64

### **Question 19:** What is the total sum of Wine produced in 2015 and 2018 respectively?

Hint:

Perform a groupby sum aggregation on ‘Item’

 **Answer: 4251.81 and 4039.32, option 1**

In [141]:
wine= Food_data.groupby('Item')['Y2015','Y2018'].sum()
wine

ValueError: Cannot subset columns with a tuple with more than one element. Use a list instead.

### **Question 20:** Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the 7th lowest sum in 2017?

 **Answer: Guinea-Bissau, option 1**

In [142]:
Food_data.groupby('Area')['Y2017'].sum().sort_values(ascending=True)[:7]

Area
Sudan (former)               0.00
Ethiopia PDR                 0.00
Comoros                     59.84
Seychelles                 442.34
Sao Tome and Principe    12662.63
Cabo Verde               14650.74
Guinea-Bissau            19102.77
Name: Y2017, dtype: float64